@layer components {
    .mps-mps-title-md {
        font-family: var(--mps-font-family);
        font-weight: var(--font-weight-semibold);
        font-size: var(--mps-title-small-size);
    }

    .mps-mps-title {
        font-family: var(--mps-font-family);
        font-weight: var(--font-weight-semibold);
        font-size: var(--mps-title-medium-size);
    }

    .mps-mps-title-xl {
        font-family: var(--mps-font-family);
        font-weight: var(--font-weight-semibold);
        font-size: var(--mps-title-large-size);
    }
}
