@theme {
    --mps-font-family: 'Geist Mono';
    --mps-font-display: 'Geist Mono';

    --mps-font-xSmall: var(--text-xs);
    --mps-font-small: var(--text-sm);
    --mps-font-medium: var(--text-base);
    --mps-font-medium: var(--text-lg);
    --mps-font-large: var(--text-xl);
    --mps-font-xLarge: var(--text-2xl);
    --mps-font-larger: var(--text-3xl);
    --mps-font-xLarger: var(--text-4xl);

    --mps-font-light: 400;
    --mps-font-regular: 500;
    --mps-font-semibold: 600;
    --mps-font-bold: 700;

    --mps-label-small: var(--mps-font-regular) var(--text-xs) var(--mps-font-family);
    --mps-label-small-font: var(--mps-font-family);
    --mps-label-small-weight: var(--mps-font-regular);
    --mps-label-small-line-height: 1rem;
    --mps-label-small-tracking: 0.031rem;
    --mps-label-small-size: 0.688rem;

    --mps-label-medium: var(--mps-font-semibold) var(--text-sm) var(--mps-font-family);
    --mps-label-medium-font: var(--mps-font-family);
    --mps-label-small-weight: var(--mps-font-semibold);
    --mps-label-medium-line-height: 1rem;
    --mps-label-medium-tracking: 0.031rem;
    --mps-label-medium-size: 0.75rem;

    --mps-label-large: var(--mps-font-bold) var(--text-base) (--mps-font-family);
    --mps-label-large-font: var(--mps-font-family);
    --mps-label-small-weight: var(--mps-font-bold);
    --mps-label-large-line-height: 1.25rem;
    --mps-label-large-tracking: 0.006rem;
    --mps-label-large-size: 0.8125rem;

    --mps-title-small: var(--mps-font-regular) var(--text-sm) var(--mps-font-family);
    --mps-title-small-font: var(--mps-font-family);
    --mps-title-small-weight: var(--mps-font-regular);
    --mps-title-small-line-height: 1.25rem;
    --mps-title-small-tracking: 0.006rem;
    --mps-title-small-size: 0.8125rem;

    --mps-title-medium: var(--mps-font-semibold) var(--text-lg) var(--mps-font-family);
    --mps-title-medium-font: var(--mps-font-family);
    --mps-title-medium-weight: var(--mps-font-semibold);
    --mps-title-medium-line-height: 1.5rem;
    --mps-title-medium-tracking: 0.009rem;
    --mps-title-medium-size: 1rem;

    --mps-title-large: var(--mps-font-bold) var(--text-xl) var(--mps-font-family);
    --mps-title-large-font: var(--mps-font-family);
    --mps-title-large-weight: var(--mps-font-bold);
    --mps-title-large-line-height: 1.75rem;
    --mps-title-large-tracking: 0;
    --mps-title-large-size: 1.375rem;

    --mps-headline-small: var(--mps-font-regular) var(--text-base) var(--mps-font-display);
    --mps-headline-small-font: var(--mps-font-display);
    --mps-headline-small-weight: var(--mps-font-regular);
    --mps-headline-small-line-height: 2rem;
    --mps-headline-small-tracking: 0;
    --mps-headline-small-size: 1.5rem;

    --mps-headline-medium: var(--mps-font-medium) var(--text-2xl) var(--mps-font-display);
    --mps-headline-medium-font: var(--mps-font-display);
    --mps-headline-medium-weight: var(--mps-font-medium);
    --mps-headline-medium-line-height: 2.25rem;
    --mps-headline-medium-tracking: 0;
    --mps-headline-medium-size: 1.75rem;

    --mps-headline-large: var(--mps-font-bold) var(--text-4xl) var(--mps-font-display);
    --mps-headline-large-font: var(--mps-font-display);
    --mps-headline-large-weight: var(--mps-font-bold);
    --mps-headline-large-line-height: 2.5rem;
    --mps-headline-large-tracking: 0;
    --mps-headline-large-size: 2rem;

    --mps-display-small: var(--mps-font-regular) var(--text-2xl) var(--mps-font-display);
    --mps-display-small-font: var(--mps-font-display);
    --mps-display-small-weight: var(--mps-font-regular);
    --mps-display-small-line-height: 2.75rem;
    --mps-display-small-tracking: 0;
    --mps-display-small-size: 2.25rem;

    --mps-display-medium: var(--mps-font-medium) var(--text-3xl) var(--mps-font-display);
    --mps-display-medium-font: var(--mps-font-display);
    --mps-display-medium-weight: var(--mps-font-medium);
    --mps-display-medium-line-height: 3.25rem;
    --mps-display-medium-tracking: 0;
    --mps-display-medium-size: 2.812rem;

    --mps-display-large: var(--mps-font-bold) var(--text-4xl) var(--mps-font-display);
    --mps-display-large-font: var(--mps-font-display);
    --mps-display-large-weight: var(--mps-font-bold);
    --mps-display-large-line-height: 4rem;
    --mps-display-large-tracking: -0.016rem;
    --mps-display-large-size: 3.562rem;
}
