@layer components {
    .cardBase {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 1024px;
        flex: auto;
        border-radius: 15px;
        border: 3px;
        border-style: solid;
        overflow: hidden;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .cardTitleContent {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 4rem;
    }

    .cardTitleIconContent {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .cardTitleIconContent svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .cardTitleL {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex: auto;
    }

    .cardBody {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
    }

    .primary {
        background-color: var(--color-blue-200);
        color: var(--color-blue-900);
        border-color: var(--color-sky-200);
    }

    .cardBase.primary .cardTitleContent {
        background-color: var(--color-blue-300);
        color: var(--color-blue-900);
        border-color: var(--color-sky-200);
    }
}
