@layer components {
    .elevation-0 {
        box-shadow: none;
        box-shadow: var(--mps-level-0);
    }

    .elevation-1 {
        box-shadow: var(--mps-level-1);
    }

    .elevation-2 {
        box-shadow: var(--mps-level-2);
    }

    .elevation-3 {
        box-shadow: var(--mps-level-3);
    }

    .elevation-4 {
        box-shadow: var(--mps-level-4);
    }

    .elevation-5 {
        box-shadow: var(--mps-level-5);
    }
}
